.deps
Makefile
Makefile.in
Manual/backupdir
Manual/fs*.txt
Manual/manual*.html
Manual/manual_bak.css
Manual/manual.4ct
Manual/manual.4tc
Manual/manual.aux
Manual/manual.css
Manual/manual.dvi
Manual/manual.idv
Manual/manual.lg
Manual/manual.out
Manual/manual.tmp
Manual/manual.toc
Manual/manual.xref
Manual/manual_bak.css
Manual/example2b.cp
Manual/example2b.time
Manual/example2b/
Manual/example2c.cp
Manual/example2c/
Manual/getdata/
Manual/getdata_raw.sh
Manual/hgdp.ids
Manual/hgdp_2chr.cp
Manual/hgdp_2chr/
Manual/hgdprsids.txt
Manual/makehelp.sh.orig
Manual/manual.tex.orig
Manual/tmp_getdata_raw/
config
*.dirstamp
m4
stamp*
aclocal*
*.cache
config.h
config.h.in
config.status
configure
fs
mixPainter
fs.dSYM/
libtool
*.orig
*.tmp
*.test
examples/example4/EastAsiaSimple.EMlinked.chunkcounts.out
examples/example4/EastAsiaSimple.EMlinked.mapstate.csv
examples/example4/EastAsiaSimple.EMlinked.mcmc.xml
examples/example4/EastAsiaSimple.EMlinked.meancoincidence.csv
examples/example4/EastAsiaSimple.EMlinked.tree.xml
testing
examples/example2
*.Rhistory
*.#*
*.o
*~
*.mine
*.bak
bin
mixPainter.dSYM/